.overall {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.container-me {
  z-index: 0;
  height: 800px;
  position: relative;
}

.container-me h1 {
  width: 452px;
  height: 108px;
  margin-left: 100px;
  font-weight: 700;
  font-size: 90px;
  line-height: 1.2;
  color: #ffffff;
  margin-bottom: 64px;
  margin-left: 100px;
}

.container-me span {
  display: flex;
  margin-left: 100px;
  width: 471px;
  height: 114px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: #ffffff;
}

.container-explain {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 100px;
  margin-top: 50px;
}

.explain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0;
  width: 444px;
  gap: 35px;
}

.explain img {
  max-width: 59px;
  height: 50px;
}

.explain img:hover {
  height: 60px;
}

.explain span {
  width: 350px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: #ffffff;
}

.bg-photo {
  z-index: -1;
  position: absolute;
  max-width: 610px;
  height: 553.57px;
}

.profil-pic {
  display: flex;
  justify-content: flex-end;
  width: auto;
  height: 647px;
}

.profil-pic img {
  position: absolute;
  max-width: 593px;
  height: 647px;
}

.spacer {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 878.5px;
  top: 545px;
  right: 0;
}

/* Media Queries for Responsiveness */
@media (max-width: 1280px) {
  .container-me h1 {
    font-size: 70px;
    margin-left: 50px;
  }

  .container-me span {
    margin-left: 50px;
  }

  .container-explain {
    margin-left: 50px;
  }

  .bg-photo {
    width: 493px;
    height: auto;
    top: 100px;
  }

  .profil-pic img {
    width: 493px;
    height: auto;
    top: 100px;
  }
}

@media (max-width: 1024px) {
  .container-me h1 {
    margin-bottom: 16px;
  }

  .container-me span {
    width: 371px;
    height: auto;
  }

  .container-explain {
    margin-top: 24px;
  }

  .explain {
    width: 344px;
    gap: 16px;
  }

  .explain span {
    margin-left: 16px;
  }

  .bg-photo {
    top: 250px;
  }

  .profil-pic img {
    width: 400px;
    top: 250px;
  }

  .spacer {
    top: 600px;
  }
}

@media (max-width: 768px) {
  .overall {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container-me {
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .container-me h1 {
    width: 452px;
    height: 108px;
    font-size: 90px;
    line-height: 1.2;
    margin-bottom: 64px;
    margin-left: 0px;
  }

  .container-me span {
    width: 471px;
    height: 114px;
    font-size: 16px;
    line-height: 1.2;
    margin-left: 0px;
  }

  .container-explain {
    margin-left: unset;
    align-items: center;
    margin-top: 50px;
  }

  .explain {
    margin: 16px 0;
    width: 444px;
    gap: 35px;
  }

  .explain img {
    max-width: 59px;
    height: 50px;
  }

  .explain img:hover {
    height: 60px;
  }

  .explain span {
    width: 371px;
    font-size: 16px;
    line-height: 1.2;
    align-items: center;
  }

  .bg-photo {
    z-index: -1;
    position: absolute;
    max-width: 610px;
    height: 553.57px;
  }

  .profil-pic {
    display: flex;
    justify-content: flex-end;
    width: auto;
    height: 647px;
  }

  .profil-pic img {
    position: absolute;
    max-width: 593px;
    height: 647px;
  }

  .bg-photo {
    max-width: 100%;
    height: auto;
  }

  .profil-pic {
    justify-content: center;
  }

  .profil-pic img {
    max-width: 100%;
    height: auto;
    top: auto;
  }

  .spacer {
    height: auto;
    top: 1040px;
  }
}

@media (max-width: 480px) {
  .container-me {
    width: 90%;
  }
  .container-me h1 {
    margin-bottom: unset;
    font-size: 40px;
    width: auto;
  }
  .container-me span {
    width: auto;
    height: auto;
    font-size: 14px;
    text-align: center;
  }

  .about-me {
    font-size: 12px;
  }

  .explain {
    width: auto;
    gap: 10px;
    justify-content: center;
  }

  .explain img {
    max-width: 50px;
    height: auto;
  }

  .explain span {
    width: auto;
    font-size: 12px;
  }
}
