.footerContainer {
  position: relative;
  top: 466px;
  width: 100%;
  height: 291px;
  border-top: 4px solid #70e61c;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.footer-impressum {
  width: auto;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 50px;
}

.footer-impressum img {
  height: 80px;
}

.footer-impressum a {
  margin-top: 8px;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
}

.footerContainer p {
  color: #ffffff;
  font-size: 23px;
  font-weight: 400;
  line-height: 27.6px;
}

.footer-link {
  width: 174px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 50px;
}

/* Media Queries for Responsiveness */
@media (max-width: 1280px) {
  .footerContainer {
    align-items: center;
    justify-content: space-around;
    height: auto; /* Allow height to adjust based on content */
    padding: 20px 0; /* Add padding for spacing */
  }

  .footer-impressum {
    margin-left: 0; /* Remove left margin */
    margin-bottom: 20px; /* Add bottom margin for spacing */
  }

  .footer-link {
    margin-right: 0; /* Remove right margin */
    margin-bottom: 10px; /* Add bottom margin for spacing */
  }

  .footerContainer p {
    font-size: 20px; /* Adjust font size */
  }
}

@media (max-width: 768px) {
  .footerContainer {
    padding: 10px 0; /* Adjust padding */
  }

  .footer-impressum img {
    height: 60px; /* Reduce image size */
  }

  .footer-impressum a {
    font-size: 14px; /* Adjust font size */
  }

  .footerContainer p {
    font-size: 18px; /* Adjust font size */
  }

  .footer-link {
    width: auto; /* Allow width to adjust */
    height: auto; /* Allow height to adjust */
  }
}
