.container {
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.purple {
  position: absolute;
  width: 572.03px;
  height: 608px;
  top: 99px;
}

.green {
  position: absolute;
  height: 573.58px;
  right: 0;
}

.container-header {
  width: 100%;
  height: 224px;
  gap: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}

.header {
  display: flex;
}

.container-header h1 {
  width: 200px;
  height: 108px;
  text-wrap: nowrap;
  rotate: -90deg;
  color: white;
  font-size: 90px;
  line-height: 108px;
  font-weight: 400;
  text-align: center;
}

.container-header button {
  position: absolute;
  width: auto;
  height: 58px;
  border-radius: 10px;
  padding: 15px 30px 15px 30px;
  background-color: #70e61c;
  color: #ffffff;
  font-size: 23px;
  font-weight: 400;
  transition: ease-in-out 250ms;
  text-wrap: nowrap;
}

.container-header button:hover {
  cursor: pointer;
  background-color: #9747ff;
  width: calc(12% + 20px);
  height: 68px;
}

.header-name {
  max-width: 882px;
  height: 149px;
  font-weight: 700;
  font-size: 120px;
  line-height: 153.6px;
  color: white;
}

.header-job {
  color: #9747ff;
  font-size: 64px;
}

.container-links {
  margin-top: 32px;
  display: flex;
  align-items: center;
  height: 40px;
  width: 380px;
}

.contact-section {
  width: 100px;
  height: 4px;
  background-color: #70e61c;
  margin-right: 24px;
}

.link-section {
  width: 280px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icons-links {
  z-index: 1;
  width: 30px;
  height: 30px;
}

.icons-links:hover {
  cursor: pointer;
  scale: 1.25;
}

.scrollSection {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 28px;
  height: 150px;
  top: 747px;
  right: 100px;
  transition: transform 0.225s ease-in-out;
  text-wrap: nowrap;

  &:hover {
    cursor: pointer;

    img {
      animation: infinite scroll-jump 1.75s ease-in-out;
    }
  }
}

.scrollSection span {
  color: #ffffff;
  width: auto;
  height: 28px;
  rotate: 90deg;
  font-size: 23px;
  font-weight: 400;
  line-height: 27.6px;
}

.scrollSection img {
  rotate: 180deg;
  width: 24px;
  height: 24px;
}

@keyframes scroll-jump {
  0% {
    transform: translate(0px);
  }
  10% {
    transform: translateY(-4px);
  }
  20% {
    transform: translateY(-8px);
  }
  30% {
    transform: translateY(-12px);
  }
  40% {
    transform: translateY(-16px);
  }
  50% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(16px);
  }
  70% {
    transform: translateY(12px);
  }
  80% {
    transform: translateY(8px);
  }
  90% {
    transform: translateY(4px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* Media Queries for Responsiveness */
@media (max-width: 1280px) {
  .container-header h1 {
    font-size: 80px;
    line-height: 96px;
  }

  .header-name {
    height: auto;
    font-size: 100px;
    line-height: 120px;
  }

  .header-job {
    font-size: 48px;
  }

  .container-header button {
    left: 50%;
    transform: translateX(-50%);
  }

  .scrollSection {
    top: 600px;
    right: 50px;
  }
}
@media (max-width: 1024px) {
  .container-header h1 {
    height: auto;
    width: auto;
    font-size: 60px;
    line-height: 84px;
    margin-bottom: 16px;
  }

  .header-name {
    font-size: 70px;
    line-height: 120px;
  }

  .header-job {
    font-size: 40px;
  }

  .scrollSection {
    top: 600px;
    right: 50px;
  }
}

@media (max-width: 768px) {
  .container-header h1 {
    font-size: 40px;
    margin: unset;
    line-height: 108px;
  }

  .header-name {
    font-size: 46px;
    line-height: unset;
  }

  .header-job {
    font-size: 30px;
  }

  .container-links {
    width: 100%;
    justify-content: flex-start;
  }

  .container-header button {
    height: auto;
    font-size: 18px;

    &:hover {
      width: 155px;
      height: 58px;
    }
  }

  .purple {
    width: 252px;
    height: 506px;
  }
  .green {
    height: 413px;
  }
}

@media (max-width: 480px) {
  .container-header h1 {
    font-size: 24px;
    line-height: 108px;
  }

  .header-name {
    font-size: 30px;
    line-height: unset;
  }

  .header-job {
    font-size: 20px;
  }

  .scrollSection span {
    font-size: 20px;
  }
}
