.overall {
  width: 100%;
  position: relative;
  z-index: 1;
}

.container-me p {
  width: 452px;
  height: 108px;
  margin-left: 100px;
  font-weight: 700;
  font-size: 90px;
  line-height: 1.2;
  color: #ffffff;
}

.about-me {
  display: flex;
  margin-left: 100px;
  width: 471px;
  height: 114px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: #ffffff;
}

.container-explain {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 100px;
  margin-top: 50px;
}

.explain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0;
  width: 444px;
  gap: 35px;
}

.explain img {
  height: 50px;
}

.explain span {
  width: 350px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: #ffffff;
}

.bg-photo {
  position: absolute;
  width: 610px;
  height: 553.57px;
  right: 0;
  top: 200px;
}

.profil-pic {
  position: absolute;
  height: 647px;
  bottom: -100px;
  border-bottom-right-radius: 340px 129px;
  right: 0;
}

/* Media Queries for additional responsiveness */
@media (max-width: 768px) {
  .container-me p,
  .about-me,
  .explain span {
    font-size: 5vw; /* Adjust font size for smaller screens */
  }

  .bg-photo {
    width: 90%; /* Adjust width for smaller screens */
  }

  .profil-pic {
    max-height: 60vh; /* Adjust max height for smaller screens */
  }
}

@media (max-width: 480px) {
  .container-me p,
  .about-me,
  .explain span {
    font-size: 6vw; /* Further adjust font size for very small screens */
  }

  .bg-photo {
    width: 95%; /* Further adjust width for very small screens */
  }

  .profil-pic {
    max-height: 50vh; /* Further adjust max height for very small screens */
  }
}
