.overall {
  width: 100%;
  position: relative;
  z-index: 1;
}

.container-me {
  z-index: 0;
  height: 800px;
  position: relative;
}

.container-me p {
  width: 452px;
  height: 108px;
  margin-left: 100px;
  font-weight: 700;
  font-size: 90px;
  line-height: 1.2;
  color: #ffffff;
  margin-bottom: 64px;
}

.about-me {
  display: flex;
  margin-left: 100px;
  width: 471px;
  height: 114px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: #ffffff;
}

.container-explain {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 100px;
  margin-top: 50px;
}

.explain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0;
  width: 444px;
  gap: 35px;
}

.explain img {
  max-width: 59px;
  height: 50px;

  &:hover {
    height: 60px;
  }
}

.explain span {
  width: 350px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: #ffffff;
}

.bg-photo {
  position: absolute;
  width: 610px;
  height: 553.57px;
  right: 0;
  top: 175px;
}

.profil-pic {
  position: absolute;
  width: 593px;
  height: 647px;
  top: 52px;
  right: 0px;
}

.spacer {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 878.5px;
  top: 545px;
  right: 0;
}

@media (max-width: 768px) {
  .container-me p,
  .about-me,
  .explain span {
    font-size: 5vw;
  }

  .bg-photo {
    width: 90%;
  }

  .profil-pic {
    max-height: 60vh;
  }
}

@media (max-width: 480px) {
  .container-me p,
  .about-me,
  .explain span {
    font-size: 6vw;
  }

  .bg-photo {
    width: 95%;
  }

  .profil-pic {
    max-height: 50vh;
  }
}
