.overall-container {
  position: relative;
}

.container-aboutme {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 471px;
  height: 336px;
  left: 100px;
  gap: 35px;
}

h3 {
  position: relative;
  left: 100px;
  font-family: Poppins;
  font-size: 90px;
  font-weight: 700;
  line-height: 108px;
  text-align: left;
  color: #ffffff;
  margin-bottom: 32px;
}

.explain {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
}

.container-section {
  display: flex;
  margin-top: 32px;
}

.container-section img {
  margin-right: 32px;
  width: 50px;
  height: 50px;
}

.profil-Img {
  z-index: 2;
  position: absolute;
  width: 593px;
  height: 647px;
  top: 0px;
  right: 0px;
}

.bg-Img {
  position: absolute;
  width: 634px;
  height: 616.57px;
  top: 100px;
  right: -50px;
}
