.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 100px;
}

.container-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 297px;
}

.container-header h1 {
  text-wrap: nowrap;
  rotate: -90deg;
  color: white;
  font-size: 90px;
  line-height: 108px;
  font-weight: 400;
}

.container-header button {
  position: absolute;
  top: 296px;
  left: 637px;
  width: 165px;
  height: 58px;
  border-radius: 10px;
  padding: 15px, 30px, 15px, 30px;
  background-color: #70e61c;
  color: #ffffff;
  font-size: 23px;
  font-weight: 400;
  transition: ease-in-out 250ms;
}

.container-header button:hover {
  cursor: pointer;
  background-color: #9747ff;
  width: 195px;
  height: 68px;
}

.header-name {
  font-weight: 700;
  font-size: 128px;
  line-height: 153.6px;
  color: white;
}

.header-job {
  color: #9747ff;
  font-size: 64px;
}

.container-links {
  margin-top: 32px;
  display: flex;
  align-items: center;
  height: 40px;
  width: 380px;
}

.contact-section {
  width: 100px;
  height: 4px;
  background-color: #70e61c;
  margin-right: 24px;
}

.link-section {
  width: 280px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icons-links {
  z-index: 1;
  width: 30px;
  height: 30px;
}

.icons-links:hover {
  cursor: pointer;
  scale: 1.25;
}
