section {
  width: 572px;
  height: 181px;
}

.oversign {
  display: inline-flex;
  align-items: center;
}

.oversign h3 {
  color: #ffffff;
  font-weight: 700;
  font-size: 90px;
  line-height: 108px;
  margin: unset;
}

.oversign span {
  width: 50px;
  height: 0px;
  border: 4px solid #9747ff;
  border-radius: 5px;
  margin-right: 49px;
}

section p {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  margin-left: 99px;
}
.side-logo {
  position: absolute;
  top: 2425px;
  right: 0;
  width: 489.65px;
  height: 608.26px;
}

.side-logo-green {
  position: absolute;
  width: 428.59px;
  height: 951.44px;
  top: 3300px;
  left: -40.49px;
}

.project-overview {
  width: 100%;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.project-container {
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 603px;
  height: 603px;
  margin: 10px;
  border-radius: 15px;
  border: 1px solid #70e61c;
  background-color: #141d2f;
}

.project-image {
  object-fit: cover;
  width: 600px;
  height: 600px;
  border-radius: 15px;
  transition: scale 0.225s ease-in-out, opacity 0.225s ease-in-out;
}

.project-container:hover {
  cursor: pointer;
}

.project-container:hover .project-image {
  scale: 1.9;
  opacity: 0.25;
}

.project-image:hover {
  scale: 2;
  opacity: 0.25;
}

.project-hover {
  z-index: 2;
  width: 100%;
  height: 603px;
  position: absolute;
  top: 100%;
  left: 0px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  transition: top 0.225s ease-in-out;
}

.project-container:hover .project-hover {
  top: 0;
}

.btn-container {
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  height: 250px;
  width: 603px;
  background-color: transparent;
}

.btn-github {
  height: 40px;
  width: 100px;
  padding: 8px;
  font-size: 23px;
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
  border: 1px solid #1cdae6;
  border-radius: 8px;
  margin: unset;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-github:hover {
  cursor: pointer;
  background-color: #1cdae6;
}

.btn-site {
  height: 40px;
  width: 100px;
  padding: 8px;
  font-size: 23px;
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
  background-color: #9747ff;
  border-radius: 8px;
  margin: unset;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-site:hover {
  cursor: pointer;
  background-color: #70e61c;
}

.description-container {
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 353px;
  width: 603px;
  background-color: #ffffff;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

.description-container span {
  margin: 0px 32px 0px 32px;
  color: black;
  font-size: 21px;
  font-weight: 700;
}

.description-container p {
  margin: 0px 32px 0px 32px;
  color: #70e61c;
  font-size: 21px;
  font-weight: 400;
}

@media (max-width: 1280px) {
  .side-logo {
    width: 389.65px;
  }
}

/* Media Queries for additional responsiveness */
@media (max-width: 768px) {
  .side-logo {
    width: 30vw; /* Adjust width for smaller screens */
  }

  .side-logo-green {
    width: 30vw; /* Adjust width for smaller screens */
  }

  .btn-container {
    flex-direction: column; /* Stack buttons on smaller screens */
  }
}

@media (max-width: 480px) {
  .oversign h3 {
    font-size: 6vw; /* Further adjust font size for very small screens */
  }

  .description-container span,
  .description-container p {
    font-size: 5vw; /* Further adjust font size for very small screens */
  }
}
