.skill-container {
  background: linear-gradient(
    186.63deg,
    #1a2743 20.48%,
    #1e283d 26.91%,
    #141d2f 44.64%
  );
}

.spacer {
  width: 100%;
  height: 148px;
  background-color: #141d2f;
  border-bottom-right-radius: 3400px 500px;
  border-bottom-left-radius: 300px 20px;
}

.overall-skills {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-container {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  margin-left: 100px;
  width: 625px;
  height: 649px;
}

.icons {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons img {
  margin: 45px 0px 45px 0;
  width: 88px;
  height: 100px;
  gap: 10px;
}

.skill-section {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 572px;
  height: 286px;
}

.skill {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skill p {
  margin: unset;
  font-size: 90px;
  font-weight: 700;
  line-height: 108px;
  color: #ffffff;
}

.section-p {
  width: 471px;
  height: 38px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  color: #ffffff;
}

.skill-section button {
  position: absolute;
  top: 200px;
  width: 200px;
  height: 58px;
  border-radius: 10px;
  padding: 15px 30px 15px 30px;
  background-color: #70e61c;
  color: #ffffff;
  font-size: 23px;
  font-weight: 400;
  transition: ease-in-out 250ms;
}

.skill-section button:hover {
  cursor: pointer;
  background-color: #9747ff;
  width: 240px;
  height: 68px;
}
