@font-face {
  font-family: "Poppins";
  src: local("Poppins"),
    url("./assets/fonts/Poppins-Regular.ttf") format("truetype");
}

body {
  font-family: "Poppins", sans-serif;
  background: #141d2f;
  height: 100vh;
}
.font-color {
  color: #ffffff;
}
